.container {
    background-image: linear-gradient(to right, rgb(29, 173, 10), rgb(7, 248, 27));
    height: 90vh;
    margin-top: 8%;
    margin: auto;
    width: 42%;
    border-right: 2px solid rgb(7, 248, 27);
    border-left: 2px solid rgb(29, 173, 10);
    border-radius: 10px;
    box-shadow: rgba(4, 185, 240, 0.25) 0px 54px 55px, rgba(4, 185, 240, 0.12) 0px -12px 30px, rgba(4, 185, 240, 0.12) 0px 4px 6px, rgba(4, 185, 240, 0.17) 0px 12px 13px, rgba(4, 185, 240, 0.09) 0px -3px 5px;
}
.container-fluid {
    height: 50%;
    margin-top: 5px;
    background: #ffffff;
}
h1 {
    text-align: center;
    padding-top: 1%;
    font-family: 'Times New Roman', Times, serif;
    /* animation-name: txtMove;
    animation-duration: 0.5s;
    transition: 0.5s; */

}
/* @keyframes txtMove {
    0%   { left:0px; padding-top:0px;}
    25%  { left:0px; padding-top:2.5%;}
    33%  { color: #0000005e; padding-top:5%;}
    66%  { color: rgba(0, 0, 0, 0.623); padding-top:7.5%;}
    100% {left:0px; padding-top:10%;}
  }
  @keyframes txtMove2 {
    0%   { left:0px; padding-top:0px;}
    25%  { left:0px; padding-top:2.5%;}
    33%  { color: #0000005e; margin-top:1%;}
    66%  { color: rgba(0, 0, 0, 0.623); margin-top:2%;}
    100% {left:0px; margin-top:2%;}
  } */
#signin {
    margin: auto;
    position: fixed;
    /* margin-top: 15%; */
    display: block;
    padding: 12px;
    border: none;
    border-radius: 10px;
    box-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    border: 2px solid rgb(7, 248, 27); 
    /* animation-name: txtMove2;
    animation-duration: 0.5s; */
}
#signin::after {
    display: block;
    position: relative;
    background: rgb(7, 248, 27);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: -1;
    transition: all 0.5s ease 0s;
    
}
#signin:hover {
    scale: 1.1;
    transition: 0.6s;
    /* background: linear-gradient(rgb(5, 236, 236), rgb(4, 63, 255)); */
    color: #000000;
    transition: all 0.5s ease 0s;
}
#signin:hover:after {
    transition: all 0.5s ease 0s;
    width: 100%; 
}
.container>img {
    width: 100px;
    height: 100px;
    margin-left: 10px;
}







/* .inputWithIcon {
    position: relative;
}
.inputWithIcon i{
    position: absolute;
    left: 0;
    top: 14px;
    padding: 9px 8px;
    color: #aaa;
} */
/* .inputWithIcon input[type=text]:focus + i{
  color: dodgerblue;
} */
i {
    margin-left: 150px;
}
input[type=email] {
    width: 50%;
    border: 2px solid #aaa;
    border-radius: 25px;
    margin: 8px 150px;
    outline: none;
    box-sizing: border-box;
    transition: .3s;
    padding: 8px; 
}
input[type=email]:focus {
    border-color: rgb(46, 250, 63);
    box-shadow: 0 0 8px 0 rgb(46, 250, 73);;
}
.inputWithIcon1 input[type=email] {
    padding-left: 40px;
}
.inputWithIcon1 {
    position: relative;
}
.inputWithIcon1 i{
    position: absolute;
    left: 0;
    top: 8px;
    padding: 9px 8px;
    color: #aaa;
}
.inputWithIcon1 input[type=email]:focus + i{
  color: rgb(46, 250, 73);
}
input[type=password] {
    width: 50%;
    border: 2px solid #aaa;
    border-radius: 25px;
    margin: 8px 150px;
    outline: none;
    box-sizing: border-box;
    transition: .3s;
    padding: 8px; 
}
input[type=password]:focus {
    border-color: rgb(46, 250, 63);
    box-shadow: 0 0 8px 0 rgb(46, 250, 63);
}
.inputWithIcon2 input[type=password] {
    padding-left: 40px;
}
.inputWithIcon2 {
    position: relative;
}
.inputWithIcon2 i{
    position: absolute;
    left: 0;
    top: 8px;
    padding: 9px 8px;
    color: #aaa;
}
.inputWithIcon2 input[type=password]:focus + i{
  color: rgb(46, 250, 63);
}
button>a {
    display: block;
    text-decoration: none;
    width: 130px;
    height: 20px;
    margin: 0px;  
}
button>a:hover {
    text-decoration: none;
    color: #eee;
}